<div class="container mt-4">
    <div class="card">
      <div class="card-header">
        Карточка користувача
      </div>
      <div class="card-body">

        <form>
          <div class="form-group">
            <label for="fullName">Прізвище:</label>
            <input type="text" [(ngModel)]="selectedLastName" name="selectedLastName" class="form-control" id="fullName" placeholder="Степаненко" required>
          </div>
          <div class="form-group">
            <label for="fullName">Ім'я:</label>
            <input type="text" [(ngModel)]="selectedFirstName" name="selectedFirstName" class="form-control" id="fullName" placeholder="Степан" required>
          </div>
          <div class="form-group">
            <label for="fullName">По батькові:</label>
            <input type="text" [(ngModel)]="selectedMiddleName" name="selectedMiddleName" class="form-control" id="fullName" placeholder="Степанович" required>
          </div>

          <div class="form-group">
            <label for="dob">Дата народження:</label>
            <input type="date" [(ngModel)]="selectedBirthDate" name="selectedBirthDate" class="form-control" id="dob" required>
          </div>

          <div class="form-group">
            <label for="passportId">Ідентифікатор паспорта:</label>
            <input type="text" [(ngModel)]="selectedPasswordId" name="selectedPasswordId" class="form-control" id="passportId" placeholder="12345678-1234" required>
          </div>

          <button type="submit" (click)="createVisitant()" class="btn btn-primary mt-3">Зберегти дані</button>
        </form>
      </div>
    </div>
</div>